body {
  text-align: center;
}

#container {
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  margin-top: 6rem;
  background-color: white;
  box-shadow: 5px 10px 5px 10px darkgray;
}

#quoteholder {
  width: 20rem;
  height: 6rem;
  margin: auto;
}

#authornameholder {
  height: 2rem;
  width: 20rem;
  margin-top: 3rem;
}

#submit {
  background: darkgray;
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: inline-block;
}
